doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
	meta(http-equiv='X-UA-Compatible' content='ie=edge')
	title Gulp Template
	link(rel='stylesheet' href='./index.css')
body
	.h-100vh.d-flex.justify-content-center.align-items-center.flex-column
		include pug/components/logo
		a(href='https://github.com/conarti/gulp#readme' target='_blank') Usage guide
	script(src='./index.js')
